{% extends 'layout/base.html' %}

{% block content %}
{% if success_msg %}
<div class="alert alert-success">
    <h4>{{ success_msg }}</h4>
</div>
{% endif %}
<br>
<h1 class="text-center text-danger">Thanh toán hóa đơn</h1>

<form method="post" action="{{url_for('pay')}}">

    <div class="form-floating mt-3 mb-3">
        <input type="number" class="form-control" id="id" placeholder="Nhập tên đăng nhập" name="id">
        <label for="id">Mã bệnh nhân</label>
    </div>
    <div>
        <input type="submit" value="Tìm kiếm" class="btn btn-success" />
    </div>
</form>
{% if tongtien %}
<form method="post" action="{{url_for('payall')}}">
<table class="table">
    <tr>
        <th>Mã bệnh nhân</th>
        <th>Tiền khám</th>
        <th>Tiền thuốc</th>
        <th>Tổng tiền</th>
        <th></th>
    </tr>
    <tr>
        <td>{{ benh_id }}</td>
        <td>{{ "{:,.0f}".format(tienkham) }} VNĐ</td>
        <td>{{ "{:,.0f}".format(tienthuoc) }} VNĐ</td>
        <td>{{ "{:,.0f}".format(tongtien) }} VNĐ</td>
        <td>
            <button class="btn btn-danger" >Thanh Toán</button>
        </td>
    </tr>
</table>
</form>
{% endif %}
{% endblock %}