{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-success">THÔNG KÊ TẦN SUẤT SỬ DỤNG THUỐC THEO THÁNG</h1>
<div class="row">
    <div class="col-md-5 col-sm-12">
        <table class="table">
            <tr>
                <th>Tên thuốc</th>
                <th>Đơn vị tính</th>
                <th>Số lần dùng</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-7 col-sm-12">
        <form>
             <div class="form-group">
                 <label>Nhập tháng muốn thống kê</label>
                <input type="text" name="month" class="form-control"  />
            </div>
            <div>
                <input type="submit" value="Lọc dữ liệu" class="btn btn-info" />
            </div>
        </form>
        <canvas id="cateStats"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/stats.js') }}"></script>
<script>
    let labels = []
    let data = []
    {% for s in stats %}
    labels.push('{{ s[0] }}')
    data.push({{ s[2] }})
    {% endfor %}
    window.onload = function() {
        drawCateChart(labels, data)
    }
</script>
{% endblock %}